#indexBody {
    background-image: url(https://i.pinimg.com/originals/8f/09/d5/8f09d576e3e3db7e50369731ef27c0db.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    color:darkorange;
}

.container{
    height: 350px;
    width: 350px;
    background-color: azure;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:0 0 10px grey;
    transition: 3s all;

}

.container div{
    height: 50%;
    width: 200px;
    clip-path: polygon(100% 0, 50% 100%, 0 0 );
    position: absolute;
    transform: translateX(-50%);
    transform-origin: bottom;
    left: 21%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 1000;
    font-family: monospace;
    letter-spacing: 5px;
    color:coral;
    writing-mode: vertical-rl;
}

.container .killer1{
background-image: url("https://rue-morgue.com/framework/uploads/2018/10/freddy-sq-e1559496029918.jpg");
left: 50%;
background-size: contain;
}

.container .killer2{
    background-image: url("https://i.pinimg.com/736x/eb/0e/8c/eb0e8c0cf1655c967d6a9e6b80d63482--iconic-movies-jeepers-creepers.jpg");
    transform: rotate(60deg);
    background-size: contain;
}

.container .killer3{
    background-image: url("https://discourse.disneyheroesgame.com/uploads/default/original/3X/9/4/94579b02bd777b117a4d6834dcdf29eb43c80804.jpeg");
    transform: rotate(120deg);
    background-size: contain;
}

.container .killer4{
    background-image: url("https://d1lss44hh2trtw.cloudfront.net/assets/article/2021/02/24/xenomorph-fortnite_feature.jpg");
    transform: rotate(180deg);
    background-size: contain;
}

.container .killer5{
    background-image: url("https://i.ebayimg.com/images/g/WO4AAOSwEMxa1jbo/s-l400.jpg");
    transform: rotate(240deg);
    background-size: contain;
}

.container .killer6{
    background-image: url("https://i1.sndcdn.com/artworks-000110309460-pi9m78-t500x500.jpg");
    transform: rotate(300deg);
    background-size: contain;
}
.mid-item {
    height: 25px;
    width: 25px;
    background:crimson ;
    border-radius: 50%;
    position: absolute;

}

#spin{
    height: 60px;
    width: 200px;
    background: darkviolet;
    position: absolute;
    margin-top: 600px;
    border: 1px solid #fff;
    font-weight: 1000;
    color: #fff;
    letter-spacing:  4px;
    cursor: pointer;
    box-shadow: 0 5px 10 px grey;
    transform: 0.2s all;
}

.stopper{
    height: 50px;
    width: 40px;
    background-image: url("https://i.pinimg.com/originals/ce/d8/81/ced881d4fbf4c508d2c13ca72b0778a0.jpg");
    position: absolute;
    margin-top: -350px;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
    background-size: contain;
}

#slasherFightBody {
    background-image: url(https://i.pinimg.com/originals/8f/09/d5/8f09d576e3e3db7e50369731ef27c0db.jpg
    );
}


.column {
    float: right;
    width: 50%;
    background-color: brown;
}

.column2 {
    float: left;
    width: 50%;
    background-color: aqua;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

