#indexBody {
    background-image: url(https://i.pinimg.com/originals/8f/09/d5/8f09d576e3e3db7e50369731ef27c0db.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    color:darkorange;
}

.container{
    height: 350px;
    width: 350px;
    background-color: azure;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:0 0 10px grey;
    transition: 3s all;

}

.container div{
    height: 50%;
    width: 200px;
    clip-path: polygon(100% 0, 50% 100%, 0 0 );
    position: absolute;
    transform: translateX(-50%);
    transform-origin: bottom;
    left: 21%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 1000;
    font-family: monospace;
    letter-spacing: 5px;
    color:coral;
    writing-mode: vertical-rl;
}

.container .killer1{
background: green;
left: 50%;
}

.container .killer2{
    background: yellow;
    transform: rotate(60deg);
}

.container .killer3{
    background: pink;
    transform: rotate(120deg);
}

.container .killer4{
    background: blue;
    transform: rotate(180deg);
}

.container .killer5{
    background: paleturquoise;
    transform: rotate(240deg);
}

.container .killer6{
    background: paleturquoise;
    transform: rotate(300deg);
}
.mid-item {
    height: 25px;
    width: 25px;
    background:crimson ;
    border-radius: 50%;
    position: absolute;

}

#spin{
    height: 60px;
    width: 200px;
    background: darkviolet;
    position: absolute;
    margin-top: 600px;
    border: 1px solid #fff;
    font-weight: 1000;
    color: #fff;
    letter-spacing:  4px;
    cursor: pointer;
    box-shadow: 0 5px 10 px grey;
    transform: 0.2s all;
}

.stopper{
    height: 50px;
    width: 40px;
    background: yellowgreen;
    position: absolute;
    margin-top: -350px;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
}

#slasherFightBody {
    background-image: url(https://i.pinimg.com/originals/8f/09/d5/8f09d576e3e3db7e50369731ef27c0db.jpg
    );
}


.column {
    float: right;
    height: 100%;
    width: 50%;
    background-color: brown;
}

.column2 {
    float: left;
    height: 100%;
    width: 50%;
    background-color: aqua;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    height: 500px;
    
}

